@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,600&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    background-color: grey !important;
}
.clock{
    /* position: absolute; */
   margin-top: 250px !important;
   font-size: 60px !important;
   font-weight: 700;
   color: lime !important;
   font-family: orbitron;
   letter-spacing: 7px;
}
.clock{
    background-color: black;
    padding: 20px !important;
    border-radius: 20px;
}